$primary-color: #d10024
$light-color: #fff
$dark-color: #333
$gray-text-color: #B9BABC
$bg-color: #15161D
$secundary-bg-color: #1e1f29
$section-bg-color: #E4E7ED
$link-color: #2b2d42
$container-width: 1170px 